.inputGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.lable {
  color: var(--textSubColor);
  font-weight: 500;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 3px;
}

.input {
  height: 50px !important;
  border: 1.5px solid var(--textSubColor);
  padding: 0 1rem;
  outline: none;
}
.input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  z-index: 1000;
}

.btnSubmit {
  cursor: pointer;
  padding: 15px 40px;
  font-size: 18px;
  background-color: var(--backgroundColorBtn);
  color: #fff;
  font-style: italic;
  transition: all 0.25s;
}

.btnSubmit:hover {
  background-color: transparent;
  color: var(--backgroundColorBtn);
}
